<div class="col-sm-3 col-md-3 col-xs-12" user-action>
    <div class="thumbnail user-card">
        <i class="glyphicon glyphicon-user user-image" ng-class="$ctrl.genderClass"></i>
        <div class="caption">
            <div class="user-description">
                <h4 ng-hide="$ctrl.isEditable">
                    <span ng-bind="$ctrl.user.name | username:true"></span>
                    <span ng-bind="$ctrl.index"></span>
                </h4>
                <p ng-bind="$ctrl.user.username" ng-hide="$ctrl.isEditable"></p>
                <input class="form-control" ng-model="$ctrl.editname" ng-show="$ctrl.isEditable">
                <input class="form-control" ng-model="$ctrl.editusername" ng-show="$ctrl.isEditable">
            </div>
            <div class="user-actions">
                <i class="glyphicon glyphicon-pencil" ng-click="$ctrl.edit($ctrl.user)" ng-hide="$ctrl.isEditable"></i>
                <i class="glyphicon glyphicon-trash" ng-click="$ctrl.delete($ctrl.user)" ng-hide="$ctrl.isEditable"></i>
                <a ng-click="$ctrl.cancel()" ng-show="$ctrl.isEditable">Cancel</a>
                <a ng-click="$ctrl.update($ctrl.user)" ng-show="$ctrl.isEditable">Update</a>
            </div>
        </div>
    </div>
</div>